body {
  background-color: #f5f5f5;
}
.page-block {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #777777;
}
#motto {
  color: darkgreen;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  padding: 5px 15px 5px 15px;
  margin: 2px 0 2px 0;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}

.favorite {
  font-weight: bold;
}
